<?xml version="1.0" encoding="utf-8"?>
<module loadLocalBin="false" clientResourceRelativePath="1.0.4" viewEngine="Razor">
  <assemblies>
    <add assembly="SiteImprove.Optimizely.Plugin"/>
  </assemblies>
  
  <clientResources>
    <add dependency="epi-cms.widgets.base" path="ClientResources/Scripts/siteimprove.js" resourceType="Script"  />
    <add name="styles" path="ClientResources/Styles/styles.css" resourceType="Style"  />
    <add name="siteimprove.smallbox" path="https://cdn.siteimprove.net/cms/overlay.js" resourceType="Script" />
  </clientResources>

  <clientModule initializer="siteimprove/siteimprove">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="styles" />
      <add name="siteimprove.smallbox" />
    </requiredResources>
  </clientModule>

  <dojoModules>
    <add name="siteimprove" path="ClientResources/Scripts" />
  </dojoModules>
</module>